* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;

	margin: 0;
	padding: 5% 0;

	color: white;
	background-color: rgb(23, 177, 177);
}

.title {
	text-align: center;

	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

/* Slider Style */

.slider {
	position: relative;

	overflow: hidden;

	width: 1000px;
	height: 400px;
	margin: 0 auto;

	border: 1px solid rgba(255, 255, 255, .2);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.slider li,
.slider ul,
.slider-thumbs,
.slider-thumbs li {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slider ul {
	position: relative;
	left: 0;

	height: 400px;

	transition: all 500ms ease-in-out;
}

.slider li {
	float: left;

	width: 1000px;
}

.slider li.active {
	z-index: 1;
}

.slider span {
	position: absolute;
	bottom: 0;

	padding: 10px;

	transition: all 200ms ease-in-out;

	opacity: 0;
	background-color: rgba(255, 0, 0, .5);
}

.slider:hover span {
	opacity: 1;
}

.slider li img {
	display: block;

	transition: all 200ms ease-in-out;
}

.slider li.active img {
	display: block;
}

.slider .control-btn {
	font-size: 3em;

	position: absolute;
	z-index: 1;
	top: 50%;

	padding: 20px 10px;

	cursor: pointer;
	transition: all 200ms ease-in-out;
	transform: translateY(-50%);
	text-decoration: none;

	color: white;
	background-color: rgba(0, 0, 0, .5);
}

.slider .control-btn.go-right {
	right: 0;
}

.slider .control-btn:focus,
.slider .control-btn:hover {
	padding: 20px 25px 20px 5px;

	background-color: rgba(0, 0, 0, .7);
}

.slider .control-btn.go-right:hover {
	padding: 20px 5px 20px 25px;
}

/* Disabling all controls animations for Accessibility */

/* .slider .control-btn.go-left {
	transform: translateX(-90%) translateY(-50%);
}

.slider .control-btn.go-right {
	transform: translateX(90%) translateY(-50%);
}


.slider .control-btn:focus {
	padding: 20px 25px 20px 5px;

  transform: translateX(0) translateY(-50%);

	background-color: rgba(0, 0, 0, .7);
}

.slider:hover .control-btn {
	transform: translateX(0) translateY(-50%);
} */

/* Slider thumbs */

.slider-thumbs {
	margin-top: 40px;

	text-align: center;
	vertical-align: middle;
}

.slider-thumbs li {
	z-index: 0;

	display: inline-block;

	width: 100px;
	padding: 1px;

	background-color: rgba(255, 255, 255, .5);
}

.slider-thumbs li.active {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.slider-thumbs li a img {
	display: block;

	width: 100%;

	transition: all 200ms ease-in-out;

	opacity: .5;
}

.slider-thumbs li a:focus img,
.slider-thumbs li a:hover img,
.slider-thumbs li.active a img {
	opacity: 1;
}

.slider-thumbs li.active a img {
	transform: scale(1.05);
}
