* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(23, 177, 177);
    color: white;
    padding: 20px 10%;
}

h1 {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.slider {
  position: relative;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.slider ul,.slider li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider ul {
  /* position: relative; */
}

.slider li {
  position: absolute;
  width: 100%;
}

.slider li.active {
  z-index: 1;
}

.slider li span {
  position: absolute;
  padding: 10px;
  bottom: 0;
  background-color: rgba(255, 0, 0, .5);
}

.slider img {
    width: 100%;
    display: block;
}

.control-btn {
  background-color: rgba(0,0,0,.5);
  padding: 20px 10px;
  color: white;
  font-size: 3em;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.control-btn.go-right {
  right: 0;
}
